body {
  margin: 0;
  background-color: rgb(243, 243, 243);
  /* font-family: "Roboto", sans-serif; */

  font-family: "Poppins", sans-serif;
  padding: 0;
}
h1,
p {
  margin: 0;
  padding: 0;
  text-align: justify;
}
p {
  padding: 5px 0 !important;
  font-size: 17px;
}
.main-container {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 70px;
}

.text-box h1 {
  font-family: "Poppins", sans-serif;
  color: #a7288d;
  padding-bottom: 10px;
}

.description p {
  text-align: justify;
}
.viz {
  padding-bottom: 20px;
  padding-top: 20px;
}
.viz-top {
  padding-bottom: 25px;
}

.viz-heading {
  color: #a7288d;
  padding-bottom: 10px;
}
.tableau {
  margin: 20px 0;
}
.tableauPlaceholder {
  margin: 0 auto !important;
}
@media (max-width: 1100px) {
  iframe {
    margin: 0 auto !important;
    width: 1000px !important;
    height: 1500px !important;
  }
  .tableauPlaceholder {
    width: 100% !important;

    position: relative !important;

    overflow: auto !important;
  }
}
@media (max-width: 768px) {
  iframe {
    margin: 0 auto !important;
    width: 700px !important;
  }
  .tableauPlaceholder {
    width: 100% !important;
    margin: 0 auto !important;

    position: relative !important;

    overflow: auto !important;
  }
}
@media (max-width: 685px) {
  .tableauPlaceholder {
    width: 100% !important;
    margin: 0 auto !important;

    position: relative !important;

    overflow: auto !important;
  }
  iframe {
    margin: 0 auto !important;
    width: 100% !important;
  }
  .main-container {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 500px) {
  h1 {
    text-align: left !important;
  }
  .main-container {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 400px) {
  .main-container {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
